.upload__photo{
  height: 300px !important;
  margin-bottom: 20px;
  .ant-upload{
    width: 100% !important;
    height: 100% !important;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}