.ofa__admin__logo{
  padding: 24px;
  font-style: 18px;
  color: white;

  .ofa__admin__icon{
    svg{
      width: 34px;
      height: 34px;
    }
  }
}

.ofa__admin__asside{
  height: 100vh;
  .ant-menu-item{
    font-size: 16px;
    svg{
      width: 20px;
      height: 20px;
    }
  }
  .logout__btn{
    background-color: red !important;
    color: aliceblue !important;
  }
  .ant-menu-item-selected{
    color: red;
    background-color: aliceblue;
  }
}

.ofa__admin__header{
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #001529 !important;
  .ofa__collapsed__btn{
    svg{
      fill: white;
    }
    &:hover{
      background-color: aliceblue !important;
      svg{
        fill: #001529;
      }
    }
  }
  padding-right: 20px !important;
}

.ofa__admin__main{
  overflow: auto;
  height: calc(100vh - 84px) !important;
}

.ofa__notification__btn{
  transition: 1s;
  background-color: #001529;
  svg{
    fill: aliceblue;
  }
  &:hover{
    background-color: aliceblue !important;
    svg{
      fill: #001529;
    }
  }
}