

.info__box__all{
  margin-top: 30px;
}

.info__box__first{
  display: grid;
  grid-template-columns: 0.5fr 1fr !important;
  gap: 24px;
}

.image__box {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  height: 400px;
  div {
    max-width: 400px;
    width: 100%;
    height: 400px;
    image {
      object-fit: cover !important;
    }
  }
}

.info__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  .info__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.account__form__box {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 24px;
  .account__form .account__form__second {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
